@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: Quicksand;
  text-align: center;
}

body p {
  margin: 2em auto;
  font-size: 1.5em;
}

.marker {
  max-width: 150px;
  position: relative;
  margin: 50px auto 0 auto;
  transition: 0.25s;
  text-align: center;
  opacity: 0.5;
}


.marker:hover {
   transform: scale(1.1);
   opacity: 1;
 }

.marker:hover .marker-logo {
   transform: rotate(360deg);
 }


.marker-logo {
  position: absolute;
  left: 25%;
  top: 16%;
  width: 50%;
  z-index: 2;
  transition: 0.5s;
}